# Activate can* interfaces on boot using systemd-networkd
# File location: /etc/systemd/network/80-can.network
#
# Enable systemd-networkd: sudo systemctl enable systemd-networkd
#
[Match]
Name=can*

[CAN]
BitRate=500K
